body {
  background-color: #ff5a5a;
  height: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
}

h1 {
  display: inline-block;
  font-size: 5em;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-right: 5px;
}

h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
